/* Makes it so user can't highlight text with their cursor */
html {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* HEADER
-----------------------------------*/
header {
    max-width: 100%;
    background-color: #014b65;
}

#topPage {
    padding: 1%;
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

#logo {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-25%);

}

#title {
    display: inline;
    font-size: 36px;
    color: #fec347;
}

#top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#name {
    padding-right: 1%;
}

#pass {
    padding-right: 1%;
}

#login .btn {
    background: #ee4970;
    border-color: #ee4970;
}

/* NAV BAR
-------------------------------*/
body {
    overflow-x: hidden;
    width: 100%;
    /* stops page from scrolling right*/
}

nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.nav-link:hover {
    color: #fec347;
}

.nav-link {
    color: #fec347;
    font-size: large;
}

nav li a {
    color: #fec347;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline #014b65;
}

.active {
    text-decoration: underline #014b65;
}

/* BODY
------------------------------------*/
body::-webkit-scrollbar {
    display: none;
    /* hides scrollbar */
}

#homePara {
    padding: 5%;
    margin: auto;
}

#homePara h3 {
    font-size: 255%;
}

#homePara p {
    font-size: 150%;
    padding-right: 15%;
}

.bg-image {
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
}

body {
    background-image: cover;
    /* covers body content with no repeating image */
}


/* TEXT
---------------------------------*/
* {
    font-family: "Itim", cursive;
}


/* CALENDAR
---------------------------------------*/
.table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: separate;
    font-size: 10pt;
    margin-bottom: 0;
}

.table td,
.table th {
    border: 2px;
    border: solid;
    border: #d12020;
}

.table tr:nth-child(even) {
    background-color: #cab030;
}

.table tr:hover {
    background-color: #808080;
}

.table th {
    background-color: #2aa0a5;
    color: white;
}

#calendar {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.make-equal {
    table-layout: fixed;
    /* makes every column equal */
}

.eventsTitle {
    padding-top: 2%;
    padding-left: 15%;
    position: static;
    color: #2aa0a5;
    padding-bottom:1%;
}

.eventsTitle p, .eventsTitle h5{
    color: black;
}

#membersButtonEvents {
    padding-left: 15%;
}

#eventsPosters {
    padding-left: 11%;
    padding-right: 9%;
    padding-bottom: 5%;
}

.eventImg {
    width:90%;
    border: 2px solid black;
}

/* FORM
---------------------------------*/
#contactTitle {
    padding-top: 2%;
    padding-left: 5%;
    color: #2aa0a5;
}

#contactTitle p {
    color: black;
}

#form-block {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 3%;
}

/* GALLERY
----------------------------*/
.galleryTitle {
    padding-top: 2%;
    padding-left: 8%;
    color: #2aa0a5;
}

.galleryTitle p {
    color: black;
}

.gallery-img {
    width: 100%;
}

.gallery-img:hover {
    background-color: black;
}

#img-gallery {
    padding-top: 2%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 2%;
}

#img-gallery .row {
    padding-bottom: 3%;
}


/* MEMBERS
------------------------------*/
#membersTitle {
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 18%;
    color: #2aa0a5;
}

.carousel-members {
    padding-top: 2%;
    padding-left: 18%;
    padding-right: 18%;
}

#memberList {
    text-align: center;
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 3%;
}

#membersButton {
    padding-left: 18%;
    position: static;
    padding-bottom: 2%;
    padding-top:3%;
}

.grid-container-members {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.grid-container-members>div {
    padding: 20px 20px;
}

.peopleList {
    padding: 4% 17%;
}


/* CAROUSEL
-----------------------------*/
.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    border-radius: 5px;
}

.carousel-caption h5 {
    color: #ee4970;

}

.carousel-caption h3 {
    color: #FFFFFF;
    font-size: 34px;
}


/* TRICKS
---------------------------------*/
.trickHead {
    padding-top: 2%;
    padding-left: 15%;

    color: #2aa0a5;
}

.trickHead p {
    color: black;
}

.trickTitle {
    padding-top: 2%;
    padding-left: 15%;
    padding-bottom: 1%;
    color: #ee4970;
}

.videos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videos p {
    text-align: center;
}

.main-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}

/* BOARDS
---------------------------------------*/
.boardHead {
    padding-top: 2%;
    padding-left: 15%;
    color: #2aa0a5;
}

.boardHead p {
    color: black;
}

.boardTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ee4970;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 200px 80px 200px 80px 200px;
    gap: 10px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.grid-container>div {
    padding: 20px 20px;
}

.grid-container img {
    width: 80px;
}

.boardImg {
    text-align: center;
}

.boardText {
    background-color: rgb(255, 255, 255);
}

.item1 {
    grid-row: 1 / 4;
}

.item3 {
    grid-column: 3;
    grid-row: 1/4;
}

.item5 {
    grid-column: 5;
    grid-row: 1/4;
}


/* FOOTER
-----------------------------------*/
footer {
    background-color: grey;
    text-align: center;
    padding: 1%;
}
