html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* HEADER
-----------------------------------*/
header {
    max-width: 100%;
    background-color: #014b65;
}

#topPage {
    padding: 1%;
    text-align: left;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

#logo {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-25%);

}

#title {
    display: inline;
    font-size: 36px;
}

#top-right {

    display: flex;
    justify-content: flex-end;
    align-items: center;


}

#name {
    padding-right: 1%;
}

#pass {
    padding-right: 1%;
}

#login .btn {
    background: #ee4970;
    border-color: #ee4970;
}

/* NAV BAR
-------------------------------*/
body {

    overflow-x: hidden;
    width:100%;

    /* stops page from scrolling right*/
}

nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.nav-link:hover {
    color: #fec347;
}

.nav-link {
    color: #fec347;
    font-size: large;
}

nav li a {
    color: #fec347;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline #014b65;
}

.active {
    text-decoration: underline #014b65;
}

/*
header {
    background-color: #FFFFFF;
}
*/


/* BODY
------------------------------------*/
body::-webkit-scrollbar {
    display: none;
}

#homePara {
    padding: 5%;
    margin: auto;
}

#homePara h3 {
    font-size: 255%;
}

#homePara p {
    font-size: 150%;
    padding-right: 15%;
}

.bg {  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom:3%;
}

body {
    background-size: cover;
}

/* TEXT
---------------------------------*/
* {
    font-family: "Itim", cursive;

}

h1,
h2,
h4,
h6 {
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 36pt;
}

h3 {
    font-size: larger;
}

#title {
    color: #fec347;
}

/* CALENDAR
---------------------------------------*/
.table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: separate;
    font-size: 10pt;
    margin-bottom: 0;
}

.table td,
.table th {
    border: 2px;
    border: solid;
    border: #d12020;
}

.table tr:nth-child(even) {
    background-color: #cab030;
}

.table tr:hover {
    background-color: #808080;
}

.table th {
    background-color: #2aa0a5;
    color: white;
}

#calendar {
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
}

.make-equal {
    table-layout: fixed;
}

#eventsTitle {
    padding-top: 2%;
    padding-left: 11%;
    position: static;
    color: #2aa0a5;
}





.left-col {
    float: left;
    width: 60%;
    padding: 15px;
}

/*
.right-col {
    float:right;
    width:30%;
}
*/

/* FORM
---------------------------------*/
#form-block {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}



/* LAYOUT
-----------------------------*/




/* GALLERY
----------------------------*/
.galleryTitle {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    position: static;
    color: #2aa0a5;
}

.galleryTitle p {
    color: black;
}

.gallery-img {
    width: 100%;
}

.gallery-img:hover {
    background-color: black;
}

#img-gallery {
    padding-top: 2%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 2%;
}

#img-gallery .row {
    padding-bottom: 3%;
}


/* MEMBERS
------------------------------*/
#membersTitle {
    padding-top: 2%;
    padding-left: 10%;
    position: static;
    color: #2aa0a5;
}

.carousel-members {
    padding-top: 2%;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 5%;
}


#memberList {
    text-align: center;
    padding-left: 11%;
    padding-right: 11%;
}

#membersButton {
    padding-left: 15%;
    position: static;
    padding-top: 4%;
    padding-bottom: 4%;
}


/* CAROUSEL
-----------------------------*/
.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    border-radius: 5px;
}

.carousel-caption h5 {
    color: #ee4970;

}

.carousel-caption h3 {
    color: #FFFFFF;
    font-size: 34px;
}


/* TRICKS
---------------------------------*/
.trickTitle {
    color: #ee4970;
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.videos {
    width:100%;
    display:flex;
    justify-content:space-between;
}

.videos p {
    text-align: center;
}

.main-container {
    margin-left:15%;
    margin-right:15%;
    margin-bottom:0;
}


/* .video-caption {
    display: flex;
    justify-content: space-evenly;
} */


/* GAMES
-----------------------------------*/
.game-bg {
    width:100%;
    min-height:100vh;
    display:flex;
}

.card {
    width:300px;
    height:300px;
    display: flex;
    padding-right:50px;
    justify-content: center;
}

.card h3, .card p {

    text-align: center;

}



/* FOOTER
-----------------------------------*/
footer {
    background-color: grey;
    text-align: center;
    padding: 1%;
}
